//---------------------------------------------FOOTER

//see footer.php, single.php
#footer {
  border-top: $secondary-color 1px solid;
  clear: both;
  color: $font-color;
  font-family: $header-font;
  font-weight: 300;
  margin: 30px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
}
#copyright {
  float: right;
  text-align: right;
  width: 190px;

  a {
    color: black;
    text-decoration: none;
  }
}
