//----------------------------------------------HEADER
//found in header.php
//container for all header info
#header {
  margin: 0 auto;
  max-width: 70%;
  overflow: auto;

  //contains both site title and site description if there is one
  #branding {
    font-family: $header-font;
    margin-bottom: 70px;
    margin-top: 70px;

    #site-title {
      font-size: 3em;
      font-weight: 300;
      letter-spacing: .4em;
      text-align: center;
      text-transform: uppercase;
    }
    #site-title a {
      color: black;
      text-decoration: none;
    }
    #site-title a:hover {

    }
    //sub-title or tagline
    #site-description {
      font-size: 2em;
      font-weight: 300;
      letter-spacing: .5em;
      text-align: center;
      text-transform: uppercase;
    }
  }
  //page navigation and search bar
  #menu a{
    border-left: $secondary-color solid 1px;
    border-right: $secondary-color solid 1px;
    color: black;
    float: left;
    font-family: $header-font;
    font-size: 1.3em;
    letter-spacing: .4em;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  //removed search bar for asthetic reasons
  //code below will add search bar back when pasted below <nav id="menu" role="navigation">
  // see line 28
  //<div id="search">
    //<?php get_search_form(); ?>
  //</div>
  #search {

  }
}
