@import 'wpStarterCssInfo';
@import 'reset';
@import 'variables';
@import 'header';
@import 'main-content';
@import 'sidebar';
@import 'footer';

$header-font: 'Lato', sans-serif;
$secondary-color: rgba(237, 237, 238, 1.0);
$font-color: rgba(122, 122, 122, 1.0);

//-----------------------------WHOLE PAGE CONTAINER
//found in header.php --> class hfeed
#wrapper {
  margin: 0 auto ;
  width: 100%;
}
//NAV AND MAIN CONTENT CONTAINER
#container {
  margin: 0 auto;
  max-width: 70%;
  //removed overflow in order to show dates on left
  // overflow: auto;
}

//-----------------------------------------comments
//see comments.php
#comments {
  font-family: $header-font;
  font-weight: 300;
  margin-top: 160px;

  #comments-list {
    overflow: auto;
    border-bottom: 1px solid $secondary-color;

    .comments-title {
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: .2em;
      margin-bottom: 40px;
      border-bottom: 1px $secondary-color solid;
      overflow: auto;
      padding-bottom: 10px;
    }
    .comment-body {
      line-height: 1.7em;

      img {
        float: left;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
      }
      a {
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        background-color: $secondary-color;
        font-weight: 400;

      }
      .comment-author {
        margin-top: 10px;
      }
      .comment-meta {
        margin-top: 10px;
        margin-bottom: 50px;
      }
      .reply a {
        width: 70px;
        float: right;
        margin-top: 15px;
        margin-bottom: 30px;
        letter-spacing: .2em;
        text-align: center;
        font-weight: 300;
      }
    }
  }
  #reply-title {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .comment-form-comment {

    textarea {
     width: 475px;
     margin-top: 15px;
     height: 300px;
     border: 1px solid $secondary-color;
    }
  }
  .logged-in-as a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    background-color: $secondary-color;
    font-weight: 400;
    margin-right: 10px;
  }
  .submit {
    border-radius: none;
    text-transform: uppercase;
    font-family: $header-font;
    text-align: center;
    letter-spacing: .2em;
    background-color: $secondary-color;
    font-weight: 300;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
  }
}
//see nav-below-single.php and nav-below.php
#nav-below a {
  margin-top: 30px;
  font-family: $header-font;
  color: black;
  text-decoration: none;


  .nav-previous {
    float: left;

  }
  .nav-next {
    float: right;

  }
}
