@import 'wpStarterCssInfo';
@import 'reset';
@import 'variables';
@import 'header';
@import 'main-content';
@import 'sidebar';
@import 'footer';

$header-font: 'Lato', sans-serif;
$secondary-color: rgba(237, 237, 238, 1.0);
$font-color: rgba(122, 122, 122, 1.0);

//-----------------------------WHOLE PAGE CONTAINER
//found in header.php --> class hfeed
#wrapper {
  margin: 0 auto ;
  width: 100%;
}
//NAV AND MAIN CONTENT CONTAINER
#container {
  margin: 0 auto;
  max-width: 70%;
  //removed overflow in order to show dates on left
  // overflow: auto;
}








//-----------------------------------------comments
//see comments.php
#comments {
  outline: green 2px solid;

  #comments-list {
    color: red;

    //h3
    .comments-title {
      font-size: 3em;
    }
    // #comments-nav-above {
    //   color: black;
    //   text-decoration: none;
    // }
    ul {
      background-color: purple;
    }
    // #comments-nav-above {
    //   color: black;
    //   text-decoration: none;
    //   outline: blue 2px solid;
    // }

  }
  // #trackbacks-list {
  //   outline: yellow 2px solid;
  // }
  .comment-form-comment {
     background-color: yellow;

    textarea {
      background-color: blue;
    }
  }
  p .logged-in-as {
    color: black;
    text-decoration: none;
  }
}

//see nav-below-single.php and nav-below.php
#nav-below {
  outline: 2px red solid;

  .nav-previous {

  }
  .nav-next {

  }
}
