@import 'wpStarterCssInfo';
@import 'reset';
//WHOLE PAGE CONTAINER
#wrapper {
  border: 5px solid red;
}
//HEADER
#branding {
  font-size: 3em;
}
#menu {
  background-color: pink;
}

//NAV AND MAIN CONTENT CONTAINER
#container {
  width: 960px;
  margin: 0 auto;
  border: black 2px dashed;
  overflow: auto;
}
//NAV
// #nav-below .navigation
aside {
  border: 2px solid green;
  overflow: auto;
}
#sidebar {
  float: left;
  width: 34%;
  background-color: yellow;
}
#primary {
  color: green;
}
//MAIN CONTENT RIGHT COLUMN
//archive, attatchment, author, category
article {
  background-color: red;
}
.entry-title {
  font-size: 3em;
}
//.entry-summary .entry-links
.entry-content, .entry-footer, .entry-meta {
  border: 2px solid blue;
}
#content {
  color: orange;
  float: right;
  width:65%;
}

//FOOTER
footer #copyright{
  background-color: green;
  clear: both;
}
